node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
lib/
App.tsx
app.json
.expo-shared/
.circleci/
.github/
.vscode/
babel.config.js
yarn.lock
tsconfig.json
tslint.json
src/